# 커밋 전에 무조건 .env.production 파일을 생성/작성해주세요
# (스크립트를 통해 자동으로 깃 액션 파일이 수정되도록 처리하였습니다)

NEXT_PUBLIC_BASE_URL=http://localhost:8080/api
NEXT_PUBLIC_CLIENT_BASE_URL=http://localhost:3000
NEXT_PUBLIC_CHANNELTALK_PLUGIN_KEY=READ_NOTION_PLEASE
NEXT_PUBLIC_GA_ID=G-...
NEXT_PUBLIC_SENTRY_AUTH_TOKEN=sntryu_...
NEXT_PUBLIC_SENTRY_DSN=https://sentry.io/...